<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RetryCount" value="5" />
    <add key="QueueLength" value="100" />
    <add key="Greeting" value="Hello world (4.8)" />
  </appSettings>
  <connectionStrings>
    <add name="MyDatabase" connectionString="Server=myServerAddress;Database=myDataBase;User Id=user;Password=.Net Framework 4.8;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
